body {
  font-family: Arial;
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}
#messages {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  height: 200px;
  overflow-y: scroll;
  text-align: left;
}
